<div class="jumbotron m-2 shadow rounded-jt">
    <h1>Manage Your Belongings With Ease</h1>
    <p class="lead">Borrowee allows you to create a visual record of all your personal belongings, that you lend out to family and friends. This application assists you in keeping track of who, what and when you lend out your items and if you have received them back.</p>
    <p><a href="/Account/Login" class="btn btn-primary btn-lg">Get Started</a></p>
</div>

<div class="card-group">

    <div class="card m-2 shadow rounded-jt">
        <div class="card-header">Item Database</div>
        <div class="card-body">
            <p class="card-text">
                ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
                enables a clean separation of concerns and gives you full control over markup
                for enjoyable, agile development.
            </p>
        </div>
    </div>

    <div class="card m-2 shadow rounded-jt">
        <div class="card-header">Feature 2</div>
        <div class="card-body">
            <p class="card-text">
                NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.
            </p>
        </div>
    </div>

    <div class="card m-2 shadow rounded-jt">
        <div class="card-header">Feature 3</div>
        <div class="card-body">
            <p class="card-text">
                You can easily find a web hosting company that offers the right mix of features and price for your applications.
            </p>
        </div>
    </div>

</div>