<div class="jumbotron m-2 shadow rounded-jt">
    <img src="~/Content/images/main_graphic.png" class="img-fluid rounded-top" />
    <p><a href="/Account/Login" class="btn btn-primary btn-lg btn-block rounded-bottom">Get Started</a></p>
</div>
<div class="card-group">
    <div class="card m-2 shadow rounded-jt">
        <img src="~/Content/images/database_icon.png" class="card-img-top rounded-top" alt="">
        <div class="card-body">
            <p class="card-text">
                Create a database with item details through photos, description, model and serial numbers.
            </p>
        </div>
    </div>
    <div class="card m-2 shadow rounded-jt">
        <img src="~/Content/images/borrowers_icon.png" class="card-img-top rounded-top" alt="">
        <div class="card-body">
            <p class="card-text">
                Manage borrower contact information so you can easily identify who has what.
            </p>
        </div>
    </div>
    <div class="card m-2 shadow rounded-jt">
        <img src="~/Content/images/transactions_icon.png" class="card-img-top rounded-top" alt="">
        <div class="card-body">
            <p class="card-text">
                Identify when items were loaned and when you can expect them to be returned.
            </p>
        </div>
    </div>
</div>