@{
    ViewBag.Title = "Home Page";
}

@if (User.Identity.IsAuthenticated)
{
}
else
{
    <div class="jumbotron m-2 shadow rounded">
        <h1>Manage Your Belongings With Ease</h1>
        <p class="lead">Borrowee allows you to create a record of all your belongings. Keep track of any items you lend out and when they are returned.</p>
        <p><a href="/Account/Login" class="btn btn-primary btn-lg">Get Started</a></p>
    </div>

    <div class="card-group">

        <div class="card m-2 shadow rounded">
            <div class="card-header">Getting started</div>
            <div class="card-body">
                <p class="card-text">
                    ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
                    enables a clean separation of concerns and gives you full control over markup
                    for enjoyable, agile development.
                </p>
            </div>
            <div class="card-footer">
                <a class="btn btn-primary" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a>
            </div>
        </div>

        <div class="card m-2 shadow">
            <div class="card-header">Get more libraries</div>
            <div class="card-body">
                <p class="card-text">
                    NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.
                </p>
            </div>
            <div class="card-footer">
                <a class="btn btn-primary" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a>
            </div>
        </div>

        <div class="card m-2 shadow">
            <div class="card-header">Web Hosting</div>
            <div class="card-body">
                <p class="card-text">
                    You can easily find a web hosting company that offers the right mix of features and price for your applications.
                </p>
            </div>
            <div class="card-footer">
                <a class="btn btn-primary" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a>
            </div>
        </div>

    </div>
}
