@model bool

<span>
    @*<input class="check-box@(Model ? " checked" : "")" data-toggle="returned" data-id="@ViewBag.Id" type="checkbox" @(Model ? "checked" : "") />*@

    <i class="fa @(Model ? "fa-check-square-o" : "fa-square-o")"
       data-toggle="returned"
       data-id="@ViewBag.Id"></i>
</span>
