body {
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* custom table */
table {
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
}

/* rwd-table */
.rwd-table {
    margin: 1em 0;
    min-width: 100%;
}

    .rwd-table tr {
        border-bottom: 10px solid #2b3e50;
    }

        .rwd-table tr:last-child {
            border-bottom: 2px solid #2b3e50;
        }

    .rwd-table th {
        display: none;
    }

    .rwd-table td {
        display: block;
    }

        .rwd-table td:first-child {
            padding-top: 0.5em;
        }

        .rwd-table td:last-child {
            padding-bottom: 0.5em;
        }

        .rwd-table td:before {
            content: attr(data-th) ": ";
            font-weight: bold;
            width: 7.5em;
            display: inline-block;
        }

    .rwd-table th,
    .rwd-table td {
        text-align: left;
        border-top: none;
    }

.rwd-table {
    background: #34495e;
    color: #fff;
    border-radius: 0.4em;
    overflow: hidden;
}

    .rwd-table th,
    .rwd-table td {
        margin: 0.5em 1em;
    }

        .rwd-table th,
        .rwd-table td:before {
            color: #def2f8;
            vertical-align: top;
        }

@media (min-width: 767px) {
    .rwd-table th,
    .rwd-table td {
        display: table-cell;
        padding: 0.25em 0.5em;
    }

        .rwd-table th:first-child,
        .rwd-table td:first-child {
            padding-left: 0;
        }

        .rwd-table th:last-child,
        .rwd-table td:last-child {
            padding-right: 0;
        }

        .rwd-table td:before {
            display: none;
        }

    .rwd-table th,
    .rwd-table td {
        padding: 1em !important;
    }

    .rwd-table tr {
        border-bottom: 2px solid #2b3e50;
    }
}

/* custom <dl> */
dl {
    display: flex;
    flex-flow: row wrap;
}

dt {
    flex-basis: 40%;
    padding: 2px 4px;
    text-align: right;
}

    dt::after {
        content: ":";
    }

dd {
    flex-basis: 60%;
    flex-grow: 1;
    margin: 0;
    padding: 2px 4px;
}

/* custom rounded */
.rounded-jt {
    border-radius: .4em !important;
}

.rounded-top {
    border-radius: .4em .4em 0 0 !important;
}

.rounded-bottom {
    border-radius: 0 0 .4em .4em !important;
}

/* custom jumbotron */
.jumbotron {
    padding: 0;
}
